html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(38, 57, 80);
    background: linear-gradient(180deg, rgba(38, 57, 80, 1) 0%, rgba(20, 30, 51, 1) 100%);
}

@font-face {
    font-family: "kongText";
    src: url("resources/kongtext.ttf");
}

button {
    cursor: url('resources/cursor-click.png'), default;
}

.head {
    display: grid;
    grid-template-rows: 215px 91px 40px;
    justify-items: center;
    align-items: center;
    /* height: -webkit-fill-available; */
}

.nes--resize {
    width: 970px;
    height: 575px;
}

.nes--modal {
    display: grid;
    grid-template-columns: [start]repeat(5, 1fr)[end];
    grid-template-rows: [top] 50px 103px 103px 110px 80px[bottom];
    row-gap: 10px;
    height: 100%;
    width: 100%;
}

#nes-btn--add-author {
    cursor: url(resources/cursor-click.png), default;
}

.nes-grid-btns {
    grid-column: 4 / end;
    grid-row: 5 / -1;
    justify-self: end;
    align-self: end;
    margin: 0px;
}

.nes-grid-title {
    grid-column: 1 / 5;
    align-self: center;
}

.heart-icon {
    grid-column: 5 / 6;
    grid-row: top;
    justify-self: end;
}

.asterick-icon {
    align-self: flex-start;
    justify-self: end;
    position: relative;
    right: 5px;
    top: 12px;

}

.grid-first {
    grid-column: start / end;
    grid-row: 2 / 3;
}

.grid-second {
    grid-column: start / end;
    grid-row: 3 / 4;
}

.grid-third {
    grid-column: 2 / end;
    grid-row: 4 / 5;
    position: relative;
    right: 14px;
}

#textarea {
    grid-column: start / 2;
    grid-row: 4 / 5;
    align-self: center;
    position: relative;
    left: 34px;
}


.grid-fourth {
    grid-column: start / 4;
    grid-row: 5 / 6;
    width: 595px;
}

#first-name {
    grid-column: start / 2;
    grid-row: 2 / 3;
    text-align: left;
    /* position: relative;
    right: 47px; */
}

#last-name {
    grid-column: start / 2;
    grid-row: 3 / 4;
    text-align: left;
    /* position: relative;
    right: 64px; */
}

.inner_head___nav {
    display: grid;
    grid-template-columns: 50px 150px 1fr;
    align-items: flex-end;
    position: relative;
}

.nav--icongif {
    width: 51px;
    height: auto;
    position: fixed;
    left: 11px;
    top: 2px;
    z-index: 2;
}

.nav--icon {
    width: 51px;
    height: auto;
    position: fixed;
    left: 11px;
    top: 2px;
}

.nav--icon:hover {
    /* display: none; */
    opacity: 0;
}

.nav--icongif:hover {
    opacity: 100;
}



.head__nav {
    display: grid;
    /* grid-template-columns: 1fr; */
    width: 100%;
    background-color: #222831;
    height: 60px;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    /* box-shadow: 1px 4px 17px black; */
    z-index: 10;
}

.head__nav h4 {
    margin: 0;
    position: fixed;
    left: 75px;
    top: 15px;
    color: white;
}

.head__title {
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: relative;
    text-shadow: 2px 2px rgb(0, 0, 0);
    top: -137px;
    text-align: center;
}

#user_text {
    cursor: url('resources/cursor-click.png'), default;
}

#spark {
    position: absolute;
    top: 63px;
}

#spark2 {
    position: absolute;
    top: 60px;
    right: 0px;
}

/*  
#twinkle2 {
    position: absolute;
    top: 94px;
    left: 334px;
    width: 83px;
}

#twinkle {
    position: absolute;
    top: 97px;
    right: 338px;
    width: 83px;
} */

#github_icon {
    position: fixed;
    right: 15px;
    top: 5px;
}

#linkedin_icon {
    position: fixed;
    right: 100px;
    top: 5px;
}

/* .head__title:hover {
    -webkit-animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both
} */

.text-pop-up-bottom {
    -webkit-animation: text-pop-up-bottom 1.1s cubic-bezier(.25, .46, .45, .94) both;
    animation: text-pop-up-bottom 1.1s cubic-bezier(.25, .46, .45, .94) both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-3 21:34:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-pop-up-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(180px);
        transform: translateY(180px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 rgb(0, 0, 0, 0.1), 0 2px 0 rgb(0, 0, 0, 0.1), 0 3px 0 rgb(0, 0, 0, 0.1), 0 4px 0 rgb(0, 0, 0, 0.1), 0 5px 0 rgb(0, 0, 0, 0.1), 0 6px 0 rgb(0, 0, 0, 0.1), 0 7px 0 rgb(0, 0, 0, 0.1), 0 8px 0 rgb(0, 0, 0, 0.1), 0 9px 0 rgb(0, 0, 0, 0.1), 0 50px 30px rgba(0, 0, 0, .0)
    }
}

i.fas {
    color: white;
}

.form-control:focus {
    color: white;
}

#btn_search {
    border-radius: 5px;
    position: absolute;
    right: -155px;
    bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    height: 39px;
    font-size: 13px;
    width: 125px;
    cursor: url('resources/cursor-click.png'), default;
}

#form__search {
    position: relative;
    right: 38px;

}

/* .main--grid {
    display: grid;
    grid-template-rows: 60px 754px 350px;
} */

#cards__contain {
    /* background-color: #444A67; */
    font-size: 5px;
    display: grid;
    grid-template-columns: repeat(100, 320px);
    grid-template-rows: 350px;
    overflow-x: scroll;
    /* border-top: 3px #222831 solid; */
    padding: 20px;
}

.card {
    display: grid;
    margin-left: 100px;
    width: 300px;
    justify-items: center;
}

.author_avatar {
    width: 200px;
    height: 110px;
    align-self: center;
    border: 5px #dcd9d2 solid;


}

#card__title {
    font-family: 'kongText', cursive;
}

.author__bio__contain {
    overflow-y: scroll;
    height: 117px;
    font-size: 12px;
    border: 2px white solid;
    padding: 7px 0px 0px 5px;
    color: greenyellow;
    opacity: 0.7;
}

.btns_contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dpad_icon {
    position: relative;
    width: 37px;
    align-self: flex-start;
    bottom: -6px;

}

.gb_icons {
    width: 97px;
    margin: 3px;
    position: relative;
    bottom: -4px;
}

.box {
    width: 10px;
    height: 10px;
    background-color: violet;
}

#books__grid {
    display: grid;
    grid-template-columns: [start] 1fr [center]2fr 1fr[end];
    grid-template-rows: [title] 100px [main] 500px;
    grid-row-gap: 30px;
    overflow: hidden;
    /* justify-items: center; */
    /* align-items: center; */
}

.books__grid--title {
    color: white;
    /* background-color: teal; */
    grid-column: start / 3;
    align-self: flex-end;
    margin-left: 15px;
    justify-self: flex-start;
    padding-bottom: 15px;
}

.poster__grid__item--col1row2 {
    grid-column: start;
    grid-row: main / -1;
    padding: 10px;
    /* border: 3px red solid; */
    width: 382px;
    align-self: flex-start;
    height: 525px;
}

.info__grid__item--col2row2 {
    grid-column: center;
    grid-row: main / -1;
    height: 525px;
}

.links__grid__item--col3row2 {
    grid-column: 3/end;
    grid-row: main / -1;
    height: 525px;
}

.books__grid--info__grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.section--page {
    height: 700px;
    display: grid;
    margin: 0;
}

/* Here's some environment setup,
   scroll down for the interesting parts */

/* 
.animated-box {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding: 0px;
    text-align: center;
    border-radius: 4px;
} */



/* .animated-box p {
    font-weight: 200;
} */

/* The animation starts here */
.animated-box {
    position: relative;
}

.animated-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, #D16BA5, #86A8E7, #5FFBF1);
    background-size: 300% 300%;
    clip-path: polygon(5px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }

    50% {
        background-position: 85% 100%;
    }

    100% {
        background-position: 15% 0%;
    }
}

@keyframes frame-enter {
    0% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    25% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    50% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
    }

    75% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
    }

    100% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #212529;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgb(0, 17, 248);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}


.author__bio__contain:hover {
    animation: moveSlideshow 3s linear;
    animation-fill-mode: forwards;
}


/* Welcome Color Gradient */
.gradient-text {
    background: linear-gradient(to right, crimson, pink, greenyellow);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255);
    /* margin: 30vh auto; */
    display: block;
    transition: color .2s ease-in-out;
}

.gradient-text:hover {
    color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

/* Nelly's code - Testing */

.custom_card {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 5px;
}

.author_card {
    border: 1px #f79f03 solid;
}

.book_card {
    border: 1px teal solid;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    border: 1px red solid;
}

.author_info_container {
    width: 100%;
    margin: 15px;
}

.author_name {
    font-weight: bold;
    font-size: larger;
}

.author_bio {
    font-style: italic
}

#alert {
    margin-top: 15px;
}

.book_title {
    color: white;
}





/*  W3 Schools */
.w3-content,
.w3-auto {
    margin-left: auto;
    margin-right: auto
}

.w3-content {
    max-width: 980px
}

.w3-animate-fading {
    animation: fading 10s infinite
}